body {
    background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
}

.hide {
    display: none;
}

.weather-icon {
    height: 50px;
    width: 50px;
}

.card, header {
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
    margin: 5px;
}